{{>nav}}
<div class="jumbotron jumbotron-fluid text-center text-white">
    <div class="container">
        <h1 class="display-4">Tech News Scraper</h1>
        <p class="lead">BECAUSE WE CAN!!!</p>
    </div>
</div>
<section id="headlines">
    <div class="container-fluid">
        <div data-_id="5b3fc68378416f0014edab15" class="card mb-3">
            <div class="card-header">
                <h3>
                    <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2018/07/05/nyregion/kaloyeros-cuomo-percoco-trial.html">Fear and Ambition Distorted Cuomo’s Economic Projects</a>
                    <button type="button" class="btn btn-outline-success scrape-new">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        &nbsp;Save Headline</button>
                </h3>
            </div>
            <div class="card-body">Prosecutors say that Dr. Alain Kaloyeros was so worried about pleasing Gov. Andrew Cuomo that he rigged state
                contracts to benefit two donors.</div>
        </div>
        <div data-_id="5b3fc68378416f0014edab15" class="card mb-3">
            <div class="card-header">
                <h3>
                    <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2018/07/05/nyregion/kaloyeros-cuomo-percoco-trial.html">Fear and Ambition Distorted Cuomo’s Economic Projects</a>
                    <button type="button" class="btn btn-outline-success scrape-new">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        &nbsp;Save Headline</button>
                </h3>
            </div>
            <div class="card-body">Prosecutors say that Dr. Alain Kaloyeros was so worried about pleasing Gov. Andrew Cuomo that he rigged state
                contracts to benefit two donors.</div>
        </div>

    </div>
</section>
<section>
    <div class="container-fluid bg-dark text-white text-center pt-3 pb-1">
        <footer>
<p>Scraper  Ya'll</p>
        </footer>
    </div>
</section>