{{>nav}}
<div class="jumbotron jumbotron-fluid text-center text-white">
    <div class="container">
        <h1 class="display-4">Tech News Scraper</h1>
        <p class="lead">BECAUSE WE CAN!!!</p>
    </div>
</div>
<section id="headlines">
    <div class="container-fluid headlineContainer pb-3">
    
    </div>
</section>
<section>
    <div class="container-fluid bg-dark text-white text-center pt-3 pb-1 fixed-bottom">
        <footer>
            <p>Scraper Ya'll</p>
        </footer>
    </div>
</section>
{{> note-modal }}